$primary: #1890ff;
$primary-hover: #0280b3;

// Text
$text-light: #fff;

// Background
$background-dark: #001b35;
$background-grey: #f0f3f4;
$background-dark-web: rgba(51,102,95,0.9);

// Border
$border-grey: #808080;

// Status
$success: #84b84c;
$error: #9f3a38;


